
 <div class="loading" *ngIf="loading">
    <app-loading></app-loading>
  </div>
  
  <div class="background">
    <div class="header">
      <div class="heading1">
            Admin Panel
          <!-- <button class="createquizbutton" (click)="addRoot()">
              <img src="../../../assets/icons/plus1.svg" class="plus" alt="">
              <span>Create Form</span>
          </button> -->
          <div class="chartname">
            <!-- Chart One -->
          </div>
      </div>
      
  
      <div class="maincont" *ngIf="!loading">
  
        <!-- <label for="email" class="box1">Email address</label>
        <input type="text" class="inputfield" matInput (change)="onChange()" disabled [(ngModel)]="userProfile.email"> -->
        
        <!-- <button class="sidebuttons" [routerLink]="['/d/viewschedules']" style="margin-right: 50px; margin-left: 20px; height: 50px;"><div class=""><- go back</div></button> -->

        <div class="overall">Your earnings report</div>

        <form action="" #a="ngForm" (ngSubmit)="cancelticket()">
          <!-- details area -->
          <div class="details" *ngIf="!booked"  id="pdfTable" #pdfTable>
            <div class="innerdetails">
              <div class="heading">your total earnings are:</div>
              <div class="">$ 1,230</div>
            </div>
          </div>

          <button class="btn btn-primary changebutton" style="width: 300px;" (click)="downloadAsPDF();">Print earnings report</button>

        </form>
        
        <!--  -->
        <!-- <form #a="ngForm" (ngSubmit)="bookschedule(a)">
  
          <label class="box1">Train Name</label>
          <input type="text" class="inputfield" autocomplete="off" placeholder="" value="" name="p1" value="" ngModel required #p1="ngModel">
            
          <label class="box1">Class</label>
          <select name="languages" style="height: 50px;" id="lang" class="inputfield" name="p6" value="" ngModel required #p6="ngModel" (change)="change(p6)">
            <option value="First Class">First Class</option>
            <option value="Business Class">Business Class</option>
            <option value="Economy Class">Economy Class</option>
          </select>

          <label class="box1">Capacity</label>
          <input type="number" min="0" class="inputfield" autocomplete="off" placeholder="" name="p2" value="" ngModel required #p2="ngModel">

          <input class="changebutton" type="submit" [disabled]="a.invalid" id="subbutton" value="add train"/>

          <p class="social-text" style="color: #0a192f;font-weight: bold;font-size: 20px;" *ngIf="prompt">{{prompt}}</p>
          <p class="social-text" style="color: red;font-weight: bold;font-size: 20px;" *ngIf="msg">{{msg}}</p>
        </form> -->
        
  
      <!-- <div class="heading2">
          <div class="overall">Overall performance</div>
          <div class="performancerow">
              <div class="box">
                  <div class="box1">
                      Starts
                  </div>
                  <div class="box2">12342</div>
              </div>
              <div class="box">
                  <div class="box1">
                      Completion
                  </div>
                  <div class="box2">113432</div>
              </div>
              <div class="box">
                  <div class="box1">
                      Completion %
                  </div>
                  <div class="box2">113432</div>
              </div>
              <div class="box">
                  <div class="box1">
                      Overall Drop-off
                  </div>
                  <div class="box2">113432</div>
              </div>
              <div class="box">
                  <div class="box1">
                      Overall Drop-off %
                  </div>
                  <div class="box2">--</div>
              </div>
          </div>
          <div class="qbyq">Question by Question analysis</div>
      </div> -->
    </div>
  </div>
  