@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,900&display=swap');

/* typeform ka font */
/* @font-face {
    font-family: "typeform";
    src: url("../../../assets/fonts/Apercu-Font-Family/ApercuProMedium.otf")
} */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
  transition: 0.3s;
}

body {
  height: auto;
  background-image: linear-gradient(130deg, #282829, #ededed);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #f8f8f8;
  display: flex;
  width: 100%;
  height: 100vh;
  /* border: 1px solid black;
  box-shadow: 8px 8px 0 0 black; */
  position: relative;
}

body {
    font-family: sans-serif;
    line-height: 1.4;
}

/* seperator */
.seperator {
    display: flex;
    justify-content: center;
    align-items: center;
}
.or::before,
.or::after {
    content: "";
}
/* Horizontal */
.or--x::before,
.or--x::after {
    position: relative;
    border-top: 1px solid #ccc;
    display: inline-block;
    vertical-align: middle;
    width: 50%;
    margin-bottom: 0.15em;
    overflow: hidden;
}

.or--x::before {
    right: 0.5em;
    margin-left: -50%;
}

.or--x::after {
    left: 0.5em;
    margin-right: -50%;
}
.demo {
    margin: 4em 1em;
    text-align: center;
}

.demo .or {
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #828282;
    font-size: 0.75em;
    margin: 4em auto;
}

.demo .or--x {
    max-width: 30em;
}
/*  */
/* googe icon */
.btn {
    height: 35px;
    /* padding: 2rem 3rem; */
    border: none;
    background: #2196f3;
    color: #fff;
    border-radius: 1rem;
    cursor: pointer;
    font-family: inherit;
    font-weight: 500;
    font-size: inherit;
}
.btn-google {
    color: #222;
    background: #fff;
    border: solid 1px #eee;
    padding: 1.5rem;
  
    display: flex;
    justify-content: center;
    align-items: center;
  
    box-shadow: 0 1px 2px #00000020;
  }
  
  .btn-google img {
    width: 3rem;
    margin-right: 1rem;
  }
/*  */

.left {
  height: 100%;
  width: 650px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 60px;
}

.leftinner {
    width: 60%;
}

.typeformfont {
    font-family: "typeformapercumedium";
}
.inputfields {
    background-color: #f8f8f8; 
    border-color: black; 
    border-radius: 4px; 
    padding: 6px;
}
/* google */
.btn {
    height: 35px;
    padding: 2rem 3rem;
    border: none;
    color: #fff;
    border-radius: 40px;
    cursor: pointer;
    font-family: inherit;
    font-weight: 500;
    font-size: inherit;
    text-decoration: none;
    margin-top: 5px;
}
.btn-google {
    color: #222;
    background: #fff;
    border: solid 1px #282829;
    background-color: #f8f8f8;
    padding: 1.5rem;
  
    display: flex;
    justify-content: center;
    align-items: center;
  
    /* box-shadow: 0 2px 3px #; */
}
  
.btn-google img {
    width: 3rem;
    margin-right: 1rem;
}
/*  */
.heading {
    width: 540px;
      display: flex;
  justify-content: center;
  align-items: center;
}

.svg {
  width: 100%;
  margin: 0;
}

form {
  display: flex;
  flex-direction: column;
}

.accept {
  display: flex;
  align-items: center;
  margin-top: 10px;
  font-size: 0.9rem;
}

.accept input {
  width: 15px;
  margin-right: 10px;
}

.svgpic {
  height: 500px;
  padding: 40px 60px;
}

.left h1 {
  margin-bottom: 10px;
}

label {
  margin: 15px 0 5px;
  font-size: 0.9rem;
}

.left p {
  margin-bottom: 15px;
}

input {
  height: 35px;
}

.accept label {
  margin: 0;
}

.button {
  width: 100%;
  height: 45px;
  margin-bottom: 10px;
  background-color: #282829;
  border: #282829;
  color: white;
  font-size:1rem;
  margin-top: 15px;
}

.dot {
    height: 20px;
    width: 20px;
    margin-left: 2px;
    margin-right: 2px;
    background-color: #48484b;
    border-radius: 50%;
    display: inline-block;
}

div .right {
  /* background-image: url(https://images.unsplash.com/photo-1581215524789-83361d941827?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80);
  background-size: cover;
  background-position: center; */
  width: 60%;
  height: 100%;
  border: 40px solid white;
}

/* @media screen and (max-width: 1000px) {
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .left {
    height: 100%;
    width: 500px;
  }
  .right {
    display: none;
  }
} */

@media screen and (max-width: 1200px) {
    .googlelabel {
        font-size: 13px;
    }
}