

<div class="header" style="background-color: #FAFAFA;">
    <div class="heading1">
        <div class="resp">
            <div class="" style="margin-left: 10px;">All Trains of PCR</div>
            <!-- <button class="sidebuttons" style="margin-right: 50px;"><div class="">Export responses</div><img style="width: 20px; margin-left: 10px; margin-bottom: 3px;" src="../../../assets/icons/export.svg" alt=""></button></div> -->
        <div class="chartname"></div>
    </div>
    <div class="heading2">

        <div class="loading" *ngIf="!loaded">
            <app-loading></app-loading>
        </div>

        <div class="noresponse" *ngIf="loaded && responses==null">
            <div class="box2">no trains yet...</div>
            <img src="../../../assets/illustrations/Empty Inbox _Flatline (2).svg" style="width: 100%;" alt="">
        </div>

        <table class="table" *ngIf="loaded && responses!=null">
            <tbody class="tr">
                <tr class="tr tr1" style="height: 42px;">
                    <td class="td" style="width: 10%;"></td>
                    <td class="td details1" style="width: 15%; font-size: 17px;">Train name</td>
                    <td class="td details1" style="width: 10%; font-size: 17px;">Class</td>
                    <td class="td details1" style="width: 10%; font-size: 17px;">Capacity</td>
                    <td class="td details1" style="width: 10%; font-size: 17px;"></td>
                    <td class="td details1" style="width: 10%; font-size: 17px;"></td>
                    <td class="td details1" style="width: 10%; font-size: 17px;"></td>
                    <td class="td details1" style="width: 10%; font-size: 17px;"></td>
                    <td class="td details1" style="width: 10%; font-size: 17px;"></td>
                    <td class="td details1" style="width: 15%; font-size: 17px;"></td>
                </tr>

    
                <tr class="tr tr1" style="height: 42px; font-size: 15px; line-height: 23px;" *ngFor="let item of responses | paginate: { itemsPerPage: 10, currentPage: p }; let ndx = index;">
                    <td class="td details1" style="width: 10%; border-top: 1px solid #e1e6ec !important; border-bottom:  1px solid #e1e6ec !important;color: #737373;">
                        {{ ((p-1)*10)+(ndx+1) }}.
                    </td>
                    <td class="td details" style="width: 15%; border-top: 1px solid #e1e6ec !important; border-bottom:  1px solid #e1e6ec !important;">{{ responses[ndx].trainname }}</td>
                    <td class="td details" style="width: 10%; border-top: 1px solid #e1e6ec !important; border-bottom:  1px solid #e1e6ec !important;">{{ responses[ndx].class }}</td>
                    <td class="td details" style="width: 10%; border-top: 1px solid #e1e6ec !important; border-bottom:  1px solid #e1e6ec !important;">{{ responses[ndx].capacity }}</td>
                    <td class="td details" style="width: 10%; border-top: 1px solid #e1e6ec !important; border-bottom:  1px solid #e1e6ec !important;"></td>
                    <td class="td details" style="width: 10%; border-top: 1px solid #e1e6ec !important; border-bottom:  1px solid #e1e6ec !important;"></td>
                    <td class="td details" style="width: 10%; border-top: 1px solid #e1e6ec !important; border-bottom:  1px solid #e1e6ec !important;"></td>
                    <td class="td details" style="width: 10%; border-top: 1px solid #e1e6ec !important; border-bottom:  1px solid #e1e6ec !important;"></td>
                    <td class="td details" style="width: 10%; border-top: 1px solid #e1e6ec !important; border-bottom:  1px solid #e1e6ec !important;"></td>
                    <td class="td details" style="width: 10%; border-top: 1px solid #e1e6ec !important; border-bottom:  1px solid #e1e6ec !important;"></td>
                </tr>
    
            </tbody>
        </table>

        <div class="paginationcont" *ngIf="loaded && responses!=null">
            <pagination-controls (pageChange)="p = $event" class="paginationcontrols"></pagination-controls>
        </div>
    </div>
</div>